body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
    background-image: url('../images/marker_icon.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.floors_navigate {
    width: 35px;
    color:#A9A9A9 !important;
    font-weight: bold;
    text-decoration: none;
    display: inherit;
    background: #d5d5d5;
    background-color: rgb(255, 255, 255)
}

.leaflet-bar {
    Box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 0px !important;
    font: 18px "Lucida Console, Monaco, monospace";
    /* width: 26px; */
    width: 40px;
    height: 107px;
}

.leaflet-bar a, .leaflet-bar a:hover{
    width: 100%;
    height: 35px;
}

.leaflet-bar a:active, .leaflet-bar a:focus{
    color: black !important;
}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 47px;
    top: 0;
    left: 0;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay-inner fieldset {
    border: none;
    padding: 0;
    margin: 0 0 10px;
}

.map-overlay-inner fieldset:last-child {
    margin: 0;
}

.map-overlay-inner select {
    width: 100%;
}

.map-overlay-inner label {
    display: block;
    font-weight: bold;
    margin: 0 0 5px;
}

.map-overlay-inner button {
    display: inline-block;
    width: 36px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.map-overlay-inner button:focus {
    outline: none;
}

.map-overlay-inner button:hover {
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.10);
}

.map-overlay.bottom{
    position: absolute;
    bottom: 0;
    top:auto;
    left: 0;
    width: auto;
}

#floor_name{
    font-size: x-large;
    color: burlywood;
    font-weight: bold;
}

.map-overlay.right{
    position: absolute;
    top:0;
    right: 0;
    left: auto;
    width: auto;
}
/* .map-overlay .map-overlay-inner */
.right .map-overlay-inner{
    padding: 5px !important;
}

#search-term1, #search-term2{
    /* border: none; */
    height: 30px;
    width: 400px;
    display: block;
}

#search-submit{
    vertical-align: middle;
}

.mapboxgl-marker{
    color: Orange;
}

.label{
    top: 15px;
    position: fixed;
}